@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1E201E;
  --secondary-color: #3c3d37;
  --tertiary-color: #697565;
  --quaternary-color: #ecdfcc;
}

body {
  background-color: var(--quaternary-color);
}

